
@model IEnumerable<Website_BanDienThoai_Version1.Models.Comments>
@{
    Layout = null;
}

<!--Comments-->
<div class="card card-comments mb-3 wow fadeIn">
    <div class="card-header font-weight-bold"><h3> Comments (@ViewBag.Title)</h3></div>
    @foreach (var item in Model)
    {
        <div class="card-body">
            <div class="media d-block d-md-flex mt-4">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                    <h5 class="mt-0 font-weight-bold">
                        @item.Name
                    </h5>
                    <span class="text-muted">@item.CommentDate</span>
                    <div class="panel-body">
                        <p>@item.Content</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!--/.Comments-->