@model Website_BanDienThoai_Version1.Models.Products
@using Website_BanDienThoai_Version1.Extentions
<br />
<h2 class="text-info">
    Product  Details
</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Id" />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Memory"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Memory" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Capacity"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Capacity" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Manufacturer"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Manufacturer" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Color"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Color" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Category"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>
          
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SpecialTag"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SpecialTag.Name" class="form-control" readonly />
                    </div>
                </div>
            
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">

                    <button type="submit" value="Add to Bag" asp-route-id="@Model.Id" class="btn btn-primary">Add to Bag</button>
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
            <br />
            <br />
            @if (Model.Quantity == 0)
            {
                <h3>HẾT HÀNG</h3>
            }
            else
            {
                <h3>CÒN HÀNG</h3>
            }
        </div>
        <br />
        <div class="form-group">
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="button">Back to Home</a>
        </div>

    </div>

</form>
<div class="row">
    <div class="col-sm-9 padding-right">
        <h2 style="font-size:30px">Bình luận</h2>
    </div>
</div>
 @Html.RenderAction("Index", "Comments", "Customer")
        
    
    


