@model Website_BanDienThoai_Version1.Models.Products
@using Website_BanDienThoai_Version1.Extentions
<br />

<h2 class="text-info" style="font-size:30px"> Chi tiết sản phẩm </h2><br />
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Id" />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name">Tên</label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Memory">RAM</label>
                </div>
                <div class="col-8">
                    <input asp-for="Memory" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Capacity">Dung lượng</label>
                </div>
                <div class="col-8">
                    <input asp-for="Capacity" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Manufacturer">Nhà sản xuất</label>
                </div>
                <div class="col-8">
                    <input asp-for="Manufacturer" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Color">Màu sắc</label>
                </div>
                <div class="col-8">
                    <input asp-for="Color" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price">Giá</label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Category">Danh mục</label>
                </div>
                <div class="col-8">
                    <input asp-for="Category.Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTag">Đặc biệt</label>
                </div>
                <div class="col-8">
                    <input asp-for="SpecialTag.Name" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    <button type="submit" value="Add to Bag" asp-route-id="@Model.Id" class="btn btn-primary">Thêm vào giỏ</button>
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
            <br />
            <br />
            @if (Model.Quantity == 0)
            {
                <h3>HẾT HÀNG</h3>
            }
            else
            {
                <h3>CÒN HÀNG</h3>
            }
        </div>
        <br />
        <div class="form-group">
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="button">Về trang chủ</a>
        </div>

    </div>

</form>
<br />
<br />

<div class="row">
    <div class="col-sm-9 padding-right">
        <h2 style="font-size:30px">Bình luận</h2>
    </div>
</div>
<br />
<div class="card mb-3 wow fadeIn">
    <div class="card-body">
        <!-- Default form reply -->
        <form asp-action="Create" asp-controller="Comments" asp-area="Customer" method="post">
            <!-- Comment -->
            <div class="form-group">
                <label for="replyFormComment">Your comment</label>
                <textarea class="form-control" id="replyFormComment" rows="5" name="Content"></textarea>
            </div>
            <!-- Name -->
            <label for="replyFormName">Your name</label>
            <input type="text" id="replyFormName" name="Name" class="form-control">
            <!-- Email -->
            <label for="replyFormEmail">Your e-mail</label>
            <input type="email" id="replyFormEmail" name="Email" class="form-control">
            <div class="text-center mt-4">
                <button class="btn btn-info btn-md" type="submit">Bình luận</button>
            </div>
        </form>
    </div>
</div>
@Html.RenderAction("Index", "Comments", "Customer", new { Id = @ViewBag.ProductId })





